<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <img class="img-responsive" src="assets/img/Categories.png" alt="image" width="20" height="20"> All Category
          </div>
          <div class="col-sm-2">
              <img class="img-responsive" src="assets/img/home.png" alt="image" width="20" height="20"> Home
            </div>
            <div class="col-sm-2">
                <img class="img-responsive" src="assets/img/business.png" alt="image" width="20" height="20"> Business
              </div>
              <div class="col-sm-2">
                  <img class="img-responsive" src="assets/img/photography.png" alt="image" width="20" height="20">  Photography
                </div>
                <div class="col-sm-2">
                    <img class="img-responsive" src="assets/img/lessons.png" alt="image" width="20" height="20"> Lessons
                  </div>
                  <div class="col-sm-2" >
                      <img class="img-responsive" src="assets/img/theater.png" alt="image" width="20" height="20"> Entertainment
                    </div>
    </div>
  </div>