
 <div class="row" style="margin-top: 10px">
    <div style="margin-left:30px;margin-right:30px;font-family:'Times New Roman', Times, serif;background-color:blue"><a [routerLink]="['/home']"><font color="white">fiksar</font></a></div>
        <label style="margin-left:50px;font-size: 13px">How it Works</label>
        <label style="margin-left:30px;font-size: 13px">Find a Job</label>
        <label style="margin-left:30px; font-size: 13px">Login</label>
        <label style="margin-left:30px;font-size: 13px"> <a [routerLink]="['/signup']">Sign Up</a></label>
            
            <label style="margin-left:50px;font-size: 13px"><img class="img-responsive" src="assets/img/Globe.png" alt="image" width="12" height="12">  ESP</label>           
</div>