
 <div class="container" >
 <div class="row" >
    <div class="col-sm-1" style="background-color:lavenderblush;">
    </div>
    <div class="col-sm-10" style="background-color:lavenderblush;margin-top: 180px;font-size: 35px; ">
        Find Reliable & Verified Home Service Providers.
    <div class="row" style="float: none">
      <div class="col-sm-1">
        </div>
    <div class="col-sm-6" style="font-size: 16px;width: 250px;height:45px;border-top-left-radius: 7px;border-bottom-left-radius: 7px;background-color:white;margin-top:20px">
        <img class="img-responsive" src="assets/img/home.png" alt="image" width="29" height="29">
        <font color="black" style="float:right;padding:2px;font-size:15px">What service you need</font>
      </div>
       <button style="width: 100px;height:45px;border-top-right-radius: 7px;border-bottom-right-radius: 7px;background-color:blue;margin-top:20px"><font color="white" style="font-size:15px;float:right">Find Service</font></button>
     
        <div class="col-sm-2">
          </div>
      </div>
      <div class="row" style="font-size: 8px;float:right;margin-top: 10px;margin-left: 24px;float: none">
      <div style="background-color: white;width: 75px;height:20px;border-radius: 10px">
House Cleaning
      </div>
      <div style="background-color: white;width: 75px;height:20px;margin-left: 8px;border-radius: 10px">
Painting
        </div>
        <div style="background-color: white;width: 75px;height:20px;margin-left: 8px;border-radius: 10px">
Photography
          </div>
          <div style="background-color: white;width: 65px;height:20px;margin-left: 5px;border-radius: 10px">
Personal Training
            </div>
         

      </div>
    </div>
      
      <div class="col-sm-1" style="background-color:lavenderblush;">
        </div>
  </div>
</div>